{% extends 'base.html' %}

{% block content %}

<h1>Build A Blog</h1>

    {% if posts|length == 0 %}
    <p class="blog">No posts yet! Why don't you <a href="/newpost">add one</a>?</p>
    {% else %}

    {% for post in posts %}
    <div><h2><a href="?id={{post.id}}">{{post.title}}</a></h2>
        <p class="blog">{{post.body}}</p>
        <input type="hidden" name="post-id" value="{{post.id}}" />
        <p class="blog">Written by <a href="?user={{post.owner.id}}">{{post.owner.username}}</a></p>
    <hr />
    </div>
    {% endfor %}
    {% endif %}

{% endblock %}